/webClient/src/main/webapp/typings
/webClient/src/main/webapp/node_modules
/webClient/src/app/**/*.js
/webClient/src/app/**/*.map
/server/target
/webClient/target
client
node_modules/
/.idea

*.class
*.js.map
/src/*.js
*.log

# Package Files #
*.jar
*.war
*.ear